<h5>Add New Teacher</h5>

<form method="post" action="/admin/manage_classes/teachers/create">
<div class="row">
  <div class="small-12 medium-6 columns">
    <label for="name">Teacher Name:
      <input type="text" name="name" value="" placeholder="Teacher Name">
    </label>
  </div>
  <div class="small-12 medium-6 columns align-self-bottom">
    <button class="button" type="submit">Save</button>
  </div>
</div>
</form>
