
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Quilt Patch</title>
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/js/vendor/jqueryui/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/js/vendor/fullcalendar/fullcalendar.min.css">
    <script src="assets/js/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="assets/js/vendor/jqueryui/jquery-ui.min.js"></script>
  </head>
  <body>
    <header class="row align-middle portfolio-hero-header" data-equalizer="header">
      <div class="show-for-medium columns text-center" data-equalizer-watch="header">
        <img src="assets/img/QPLogo.gif" alt="The Quilt Patch">
      </div>
      <div class="small-12 medium-6 columns text-center" data-equalizer-watch="header">
        <h1 class="portfolio-hero-header-h1">The Quilt Patch</h1>
        <h4 class="portfolio-hero-header-h4">Bernina of Northern Virginia</h4>
        <ul class="portfolio-hero-header-description">
          <li>10381 Main Street, Fairfax, Virginia 22030 &middot; 703-273-6937<br>
              Hours: Monday-Saturday 10-5, Sunday 12-5</li>
        </ul>
      </div>
      <div class="show-for-medium columns text-center" data-equalizer-watch="header">
        <img src="assets/img/BHGQuiltSampler.png" alt="Better Homes And Gardens Quilt Sampler">
        <br><br>
        <img src="assets/img/bernina-logo-sm.png" alt="Bernina">
      </div>
    </header>

    <div class="row content-grid" data-equalizer="content">
      <div class="small-3 medium-2 columns side-menu" data-equalizer-watch="content">
        <div class="side-menu-item"><a href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Home</a></div>
        <div class="side-menu-item"><a href="/calendar"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> Calendar</a></div>
        <div class="side-menu-item"><a href="/classes"><i class="fa fa-graduation-cap fa-fw" aria-hidden="true"></i> Classes</a></div>
        <div class="side-menu-item"><a href="/clubs"><i class="fa fa-group fa-fw" aria-hidden="true"></i> Clubs</a></div>
        <div class="side-menu-item"><a href="/embroidery"><i class="fa fa-cubes fa-fw" aria-hidden="true"></i> Embroidery</a></div>
        <div class="side-menu-item"><a href="/qp_news"><i class="fa fa-bullhorn fa-fw" aria-hidden="true"></i> QP News</a></div>
        <div class="side-menu-item"><a href="/bernina_news"><i class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i> Bernina News</a></div>
        <div class="side-menu-item"><a href="/services"><i class="fa fa-handshake-o fa-fw" aria-hidden="true"></i> Services</a></div>
        <div class="side-menu-item"><a href="/directions"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> Directions</a></div>
        <div class="side-menu-item"><a href="/contact_us"><i class="fa fa-paper-plane fa-fw" aria-hidden="true"></i> Contact Us</a></div>
        <div class="side-menu-item"><a href="/links"><i class="fa fa-external-link fa-fw" aria-hidden="true"></i> Links</a></div>
        <hr>
        <div class="side-menu-item"><a href="/links"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> Login / Sign Up</a></div>
      </div>

      <div class="small-9 medium-10 columns content-copy" data-equalizer-watch="content">
        <div class="row column">
          <div class="callout">
            <h3>Summer 2017 classes are posted! Sign up now!</h3>
            <p>Click the links below to see classes, supply lists, and pictures.</p>
            <p>For a complete list of all current classes listed by teacher, <a href="/classes_by_teacher">click here</a>.</p>
        
            <div class="row align-center">
              <div class="small-6 columns">
                <form method="post" action="/search/classes">
                  <div class="input-group">
                    <input class="input-group-field" type="text" placeholder="Search Our Classes" name="search">
                    <div class="input-group-button">
                      <input type="submit" class="button" value="Search">
                    </div>
                  </div>
                </form>
              </div>
            </div>
        
            <div class="row align-center">
              <div class="small-12 medium-8 columns">
        
                <table class="hover unstriped class-category-list">
                  <tbody>
                    <tr>
                      <td>
                <a href="/classes/basics">The Basics</a>
                      </td>
                      <td>
                Beginning &amp; introductory quilting classes.
                      </td>
                    </tr>
                    <tr>
                      <td>
                <a href="/classes/applique">Applique&#769;, Garments, Bags, Home Dec</a>
                      </td>
                      <td>
                Design and construction of applique&#769; and garments. Bags and sewing projects.
                      </td>
                    </tr>
                    <tr>
                      <td>
                <a href="/classes/machine-specialties">Machine and Software Specialities</a>
                      </td>
                      <td>
                Beyond the basics, learn to make the most of your tools, including your sewing machines.
                      </td>
                    </tr>
                    <tr>
                      <td>
                <a href="/classes/machine-piecing">Machine Piecing</a>
                      </td>
                      <td>
                Patterns, books, and special machine piecing techniques.
                      </td>
                    </tr>
                    <tr>
                      <td>
                <a href="/classes/series">Series, Ongoing Events, Clubs</a>
                      </td>
                      <td>
                Special summer events and classes. Other clubs and ongoing activities.
                      </td>
                    </tr>
                  </tbody>
                </table>
        
              </div>
            </div>
        
          </div>
        </div>
        
        <div class="row column">
          <div class="callout">
        
            <h3>About Classes at the Quilt Patch</h3>
        
            <p><b>Class supply lists</b> are embedded links within the class descriptions and are posted as they become available from the instructors.  If you need to purchase required books, patterns, etc. from the Quilt Patch, please let us know in advance to make sure we'll have enough in stock. We can reserve your items for you.</p>
        
            <p>Your class enrollment entitles you to a <b>10% discount on purchases</b> during the class period.</p>
        
            <p>There are <b>two Bernina sewing machines available for your use</b> in the classroom.  We encourage you to use your own machine, but if this is not possible, please reserve a machine when you register.  If you love it, you can take it home that day for <b>25% off MSRP</b>.  Ask for more details.</p>
        
            <p>You must be comfortable using your sewing machine if you take a machine-oriented class.</p>
        
            <p>It's easier to <b>enter the shop for classes on the lower level</b>.  That way you can avoid hauling your supplies and machines up and down the stairs.</p>
        
            <p>All classes are two hours long unless otherwise noted.</p>
        
            <p>The Quilt Patch reserves the right to cancel a class if the <b>minimum number of 6 students</b> is not met.  You will be notified in advance and your enrollment fee refunded.</p>
        
            <p>To receive a <b>refund of your class registration fee</b>, you must cancel two weeks before the class date.  If you must cancel your registration within the two week period, you may send another student in your place.</p>
        
            <p><em>For the comfort of others, <b>please refrain from wearing heavily scented</b> perfumes, colognes, creams, etc.  Thank you.</em></p>
        
            <p>Please <b>do not bring children</b> to class.  We must also refuse requests to allow visiting grandmas, aunts, in-laws, etc. to "sit in" without paying the regular class fee.  Your cooperation is greatly appreciated.</p>
        
            <p>If you bring your lunch, please remember that we have no refrigeration available.</p>
        
            <h3>Bad Weather Policy</h3>
        
            <p>When <b>Fairfax County Schools</b> are closed due to inclement weather, day classes are cancelled.  Call the shop for an update on evening classes.  Under most conditions, evening and weekend classes will be held as scheduled.  Every possible attempt will be made to notify you if your class is cancelled.</p>
        
          </div>
        </div>
        

      </div>
    </div>

    <footer class="social-footer">
      <div class="social-footer-left">
        <a href="/"><img src="assets/img/QPLogo-sm.png" alt="The Quilt Patch"></a>
      </div>
      <div class="social-footer-icons">
        <ul class="menu simple">
          <li><a href="/contact_us"><i class="fa fa-paper-plane" aria-hidden="true"></i></a></li>
          <li><a href="https://www.facebook.com/quiltpatch"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </footer>

    <script src="assets/js/app.js"></script>
    <script src="https://use.fontawesome.com/bbc3509751.js"></script>
    <script src="assets/js/vendor/fullcalendar/moment.min.js"></script>
    <script src="assets/js/vendor/fullcalendar/fullcalendar.min.js"></script>
  </body>
</html>
